<footer class=" text-center text-white " style="background-color: rgb(232, 211, 21); ">
    <div class="text-center p-3 " style="background-color: rgb(146, 133, 17)">
        <section class="mb-6">
            <h3>ABRAZO'S BREAD</h3>
            <p>Embrace of Life, Bread of ours. We make it easy for you to purchase our products. For more info, contact with us. </p>
            <hr class="new4">
            <h4>Connect with Abrazo</h4>
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1 " style="background-color: #3b5998; " href="#! " role="button "><i class="fa fa-facebook "></i></a>

            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1 " style="background-color: #0082ca; " href="#! " role="button "><i class="fa fa-linkedin "></i></a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1 " style="background-color: #ac2bac; " href="#! " role="button "><i class="fa fa-instagram "></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1 " style="background-color: #55acee; " href="#! " role="button "><i class="fa fa-twitter "></i></a>

            <!-- Youtube -->
            <a class="btn btn-primary btn-floating m-1 " style="background-color: #dd4b39; " href="#! " role="button "><i class="fa fa-youtube "></i></a>
        </section>
        <h6>All Rights Reserved &copy; 2021</h6>
    </div>
</footer>