    .nav {
        background-color: rgb(232, 211, 21);
    }
    
    .navlist {
        padding-top: 10px;
    }
    
    .image {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }