<div style="margin-top:1px;">
    <app-user-dash [productOrderPastries]='productOrder'></app-user-dash>
    <div class="container mt-2 ">
        <br>
        <hr class="new3">
        <h3 class="text-center">PASTRIES</h3>
        <hr class="new3">
        <br>

        <div class="container">
            <div class="row">
                <div class="col" *ngFor=" let pastry of pastries">
                    <div class="card mb-3" style="width: 12rem; box-shadow: 0 3px 6px 0 rgba(248, 28, 28, 0.2), 0 6px 20px 0 rgba(253, 4, 4, 0.19);">
                        <img class="card-img-top image" style="height: 12rem;" src="{{pastry.image}}">
                        <div class="card-body text-center">
                            <h6 class="text-truncate" style="width: 150px;"><a href="#">{{pastry.productName}}</a></h6>
                            <h6 class="price">{{pastry.price}}</h6>
                            <button type="submit" class="btn" name="addToCart">
                                        <i class="Add To Cart" style="color:#de094c" (click)="addToCart(pastry.id,pastry.productName,pastry.price)">Add To Cart</i>
                                    </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <br>
    <div>
        <app-footer></app-footer>
    </div>