<!-- <nav class="navbar fixed-top navbar-primary bg-warning">
    <div class="container-fluid">
        <p id="logout">Logout &nbsp;&nbsp;<i class="fas fa-user" id="users" routerLink="/landing-page"></i></p>

    </div>
</nav><br> -->
<div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        <h3 style="text-align: center;padding-top:39%">Admin</h3> <br>


        <li href="#" class="nav-link" routerLink="/products">
            <span class="mx-2"><i class="fa-fa-briefcase"></i>&nbsp;List of Products</span>
        </li>
        <li href="#" class="nav-link" routerLink="/add">
            <span class="mx-2"><i class="fa-fa-plus"></i>&nbsp;List of Users</span>
        </li>
        <li href="#" class="nav-link" routerLink="/home">
            <span class="mx-2"><i class="fa-fa-plus"></i>&nbsp;LogOut</span>
        </li>


    </ul>
</div>