<app-top-nav>
</app-top-nav>
<br>
<div class="image">

    <div class="container">

        <div class="cover">
            <div class="front">


                <div class="text">
                    <span class="text-1">Want cakes, breads and pastries? <br> Find us!</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">

            </div>
        </div>

        <div class="forms">
            <div class="form-content">


                <div class="signup-form">
                    <br>
                    <div class="title">Signup</div>
                    <form (ngSubmit)="user.valid && onSubmit()" [formGroup]="user" class="sign-up">
                        <div class="input-boxes">
                            <div class="input-box ">

                                <input type="text" class="form-control" formControlName="username" [ngClass]="{'is-invalid': user.get('username').invalid}" placeholder="Username">
                                <div *ngIf="user.get('username').touched && user.get('username').invalid" class="invalid-feedback">
                                    <p class="validate" *ngIf="user.get('username').errors.required">Fill up this field</p>
                                    <p class="validate" *ngIf="user.get('username').errors.minlenght">more than 10 characters but less than 20</p>
                                </div>
                            </div>
                            <div class="input-box">

                                <input type="integer" class="form-control" formControlName="phonenumber" [ngClass]="{'is-invalid': user.get('phonenumber').invalid}" placeholder="PhoneNumber">
                                <div *ngIf="user.get('phonenumber').touched && user.get('phonenumber').invalid" class="invalid-feedback">
                                    <p class="validate" *ngIf="user.get('phonenumber').errors.required">Fill up this field</p>
                                    <p class="validate" *ngIf="user.get('phonenumber').errors.minlenght">more than 10 characters but less than 20</p>
                                </div>
                            </div>
                            <div class="input-box">

                                <input type="text" class="form-control" formControlName="address" [ngClass]="{'is-invalid': user.get('address').invalid}" placeholder="Address">
                                <div *ngIf="user.get('address').touched && user.get('address').invalid" class="invalid-feedback">
                                    <p class="validate" *ngIf="user.get('address').errors.required">Fill up this field</p>
                                    <p class="validate" *ngIf="user.get('address').errors.minlenght">more than 10 characters but less than 20</p>
                                </div>
                            </div>

                            <div class="input-box">

                                <input type="text" class="form-control" formControlName="password" [ngClass]="{'is-invalid': user.get('password').invalid}" placeholder="Password">
                                <div *ngIf="user.get('password').touched && user.get('password').invalid" class="invalid-feedback">
                                    <p class="validate" *ngIf="user.get('password').errors.required">Fill up this field</p>
                                    <p class="validate" *ngIf="user.get('password').errors.minlenght">8hjxcvd</p>
                                </div>
                            </div>
                            <div class="input-box">

                                <input type="text" class="form-control" formControlName="confirmpassword" [ngClass]="{'is-invalid': user.get('confirmpassword').invalid}" placeholder="ConfirmPassword">
                                <div *ngIf="user.get('confirmpassword').touched && user.get('confirmpassword').invalid" class="invalid-feedback">
                                    <p class="validate" *ngIf="user.get('confirmpassword').errors.required">Fill up this field</p>
                                    <p class="validate" *ngIf="user.get('confirmpassword').errors.minlenght">more than 10 characters but less than 20</p>
                                </div>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text">Already have an account? <label for="flip" routerLink="/log">Login now</label></div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <app-footer></app-footer>
</div>