<app-top-nav>
</app-top-nav>
<br>
<div class="container mt-2 " style="background-color:hsl(0, 6%, 91%);box-shadow: 0 6px 10px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(3, 0, 0, 0.19); width:100%;">
    <div class="container">
        <div class="card-deck text-center">

            <div class="card-body">
                <button type="button" routerLink="/breads" class="btn btn-lg btn-block " style="background-color:#F09307;">BREADS</button>
            </div>

            <div class="card-body">
                <button type="button" routerLink="/cakes" class="btn btn-lg btn-block " style="background-color:#F09307; ">CAKES</button>
            </div>

            <div class="card-body">
                <button type="button" routerLink="/pastries" class="btn btn-lg btn-block " style="background-color:#F09307; ">PASTRIES</button>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<!-- <div>
    <app-footer></app-footer>
</div> -->