.image {
    height: 50%;
    width: 100%;
}

.button {
    margin-top: 10px;
}

.container {
    background-color: hsl(0, 6%, 91%);
    box-shadow: 0 6px 10px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(3, 0, 0, 0.19);
}